MilitarySample/Resources/MilitarySchema.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MilitaryScenario">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ForceStructure">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ForceSides">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="ForceSide">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ObjectHandle" type="xs:unsignedShort" />
                          <xs:element name="ForceSideName" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="TaskOrganizations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Units">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Unit">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ObjectHandle" type="xs:unsignedShort" />
                          <xs:element name="ForceRelation" type="xs:unsignedShort" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>